/* Navbar */
.navbar {
    font-weight: normal;
    left: 244px;
    transition: left 0.25s ease;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease; }
    @media (max-width: 992px) {
      .navbar {
        left: 0; } }
    .navbar .navbar-brand-wrapper {
      transition: width 0.25s ease, background 0.25s ease;
      -webkit-transition: width 0.25s ease, background 0.25s ease;
      -moz-transition: width 0.25s ease, background 0.25s ease;
      -ms-transition: width 0.25s ease, background 0.25s ease;
      width: 244px;
      height: 70px; }
      @media (max-width: 991px) {
        .navbar .navbar-brand-wrapper {
          width: 55px; } }
      .navbar .navbar-brand-wrapper .navbar-brand {
        font-size: 1.5rem;
        line-height: 48px;
        margin-right: 0;
        padding: 0rem 0rem 0rem 1.3rem;
        width: 100%; }
        .navbar .navbar-brand-wrapper .navbar-brand:active, .navbar .navbar-brand-wrapper .navbar-brand:focus, .navbar .navbar-brand-wrapper .navbar-brand:hover {
          color: #252b3e; }
        .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
          display: none; }
    .navbar .navbar-menu-wrapper {
      transition: width 0.25s ease;
      -webkit-transition: width 0.25s ease;
      -moz-transition: width 0.25s ease;
      -ms-transition: width 0.25s ease;
      box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 70px; }
      .rtl .navbar .navbar-menu-wrapper {
        box-shadow: -34px 19px 34px -15px #000000;
        -webkit-box-shadow: -34px 19px 34px -15px #000000;
        -moz-box-shadow: -34px 19px 34px -15px #000000; }
      @media (max-width: 991px) {
        .navbar .navbar-menu-wrapper {
          width: auto;
          padding-left: 15px;
          padding-right: 15px; } }
      .navbar .navbar-menu-wrapper .navbar-toggler {
        border: 0;
        color: #fff;
        height: 70px;
        border-radius: 0px; }
        .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
          font-size: 0.875rem; }
          @media (max-width: 991px) {
            .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
              display: none; } }
        @media (max-width: 991px) {
          .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
            padding-left: 15px;
            padding-right: 11px;
            border-right: none; } }
            .navbar .navbar-menu-wrapper .navbar-toggler:focus {
                outline: none;
                box-shadow: none;
            }
      .navbar .navbar-menu-wrapper .navbar-nav {
        flex-direction: row;
        align-items: center; }
        .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
          color: inherit;
          font-size: 0.9375rem;
          margin-left: 1rem;
          margin-right: 1rem;
          white-space: nowrap; }
          @media (max-width: 767px) {
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
              margin-left: .8rem;
              margin-right: .8rem; } }
          .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
            font-size: 1.125rem; }
          .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile {
            display: flex;
            font-weight: normal;
            align-items: center; }
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile .navbar-profile-name {
              white-space: nowrap;
              margin-left: 1rem; }
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile i {
              color: #a7afb7; }
          .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.create-new-button {
            padding: 0.375rem 0.75rem; }
        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
          line-height: 1rem; }
          .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
            color: #0090e7;
            font-size: 1rem; }
          .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
            border: none;
            border-radius: 4px; }
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
              position: absolute;
              font-size: 0.9rem;
              margin-top: 0;
              top: 48px;
              right: 0;
              left: auto;
              -webkit-box-shadow: 0px 0px 35px -3px black;
              -moz-box-shadow: 0px 0px 35px -3px black;
              box-shadow: 0px 0px 35px -3px black;
              padding: 0; }
              .rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
                right: auto;
                left: 0; }
              .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
                margin-bottom: 0;
                padding: 11px 13px;
                cursor: pointer; }
                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item:hover {
                  color: black; }
                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
                  font-size: 17px; }
                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item .ellipsis {
                  max-width: 200px;
                  overflow: hidden;
                  text-overflow: ellipsis; }
                .rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
                  margin-left: 10px; }
              .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-divider {
                margin: 0; }
          @media (max-width: 991px) {
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
              position: static; }
              .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
                left: 20px;
                right: 20px;
                top: 70px;
                width: calc(25% - 10px); } }
        @media (min-width: 992px) {
          .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
            margin-left: auto; }
            .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
              margin-left: 0;
              margin-right: auto; } }
  
  @media (max-width: 991px) {
    .navbar {
      flex-direction: row; }
      .navbar .navbar-brand-wrapper {
        width: 75px; }
        .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
          display: none; }
        .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
          display: inline-block; }
    .navbar-collapse {
      display: flex;
      margin-top: 0.5rem; } }
  
  @media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
      width: 55px; }
      .navbar .navbar-brand-wrapper .brand-logo-mini {
        padding-top: 0px; } }
  
  .sidebar-tinted .navbar .navbar-brand-wrapper {
    background: #fa424a; }
  
  /* Sidebar */
  .sidebar {
    min-height: calc(100vh - 70px);
    font-weight: normal;
    padding: 0;
    width: 244px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease; }
    .sidebar .sidebar-brand-wrapper {
      transition: width 0.25s ease, background 0.25s ease;
      -webkit-transition: width 0.25s ease, background 0.25s ease;
      -moz-transition: width 0.25s ease, background 0.25s ease;
      -ms-transition: width 0.25s ease, background 0.25s ease;
      width: 244px;
      height: 70px; }
      @media (max-width: 991px) {
        .sidebar .sidebar-brand-wrapper {
          width: 55px; } }
      .sidebar .sidebar-brand-wrapper .sidebar-brand {
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 48px;
        margin-right: 0;
        padding: 0rem 0rem 0rem 1.3rem;
        width: 100%; }
        .sidebar .sidebar-brand-wrapper .sidebar-brand:active, .sidebar .sidebar-brand-wrapper .sidebar-brand:focus, .sidebar .sidebar-brand-wrapper .sidebar-brand:hover {
          color: #252b3e; }
        .sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
          display: none; }

    .sidebar .nav {
      overflow: hidden;
      flex-wrap: nowrap;
      flex-direction: column;
      margin-bottom: 60px;
      padding-top: 70px; }
      @media (max-width: 992px) {
        .sidebar .nav {
          padding-top: 0; } }
      .sidebar .nav .nav-item {
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        transition-property: background;
        -webkit-transition-property: background;
        padding-right: 20px; }
        .sidebar .nav .nav-item .collapse {
          z-index: 999; }
        .sidebar .nav .nav-item .nav-link {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          white-space: nowrap;
          padding: 0.8rem 10px 0.8rem 1.188rem;
          color: #6c7293;
          -webkit-transition-duration: 0.45s;
          -moz-transition-duration: 0.45s;
          -o-transition-duration: 0.45s;
          transition-duration: 0.45s;
          transition-property: color;
          -webkit-transition-property: color;
          height: 46px;
          border-radius: 0px 100px 100px 0px; }
          .sidebar .nav .nav-item .nav-link i {
            color: inherit; }
            .sidebar .nav .nav-item .nav-link i.menu-icon {
              font-size: 1rem;
              line-height: 1;
              margin-left: auto;
              color: #bba8bff5; }
              .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
                margin-left: 0;
                margin-right: auto; }
              .sidebar .nav .nav-item .nav-link i.menu-icon:before {
                vertical-align: middle; }
            .sidebar .nav .nav-item .nav-link i.menu-arrow {
              font: normal normal normal 24px/1 "Material Design Icons";
              line-height: 1;
              font-size: 1rem;
              margin-left: auto;
              color: rgba(108, 114, 147, 0.36); }
              .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
                margin-left: 0;
                margin-right: auto; }
              .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
                content: "\f140";
                font-size: inherit;
                color: inherit; }
          .sidebar .nav .nav-item .nav-link .menu-title {
            color: inherit;
            display: inline-block;
            font-size: 0.9375rem;
            line-height: 1;
            vertical-align: middle; }
          .sidebar .nav .nav-item .nav-link .badge {
            margin-right: auto;
            margin-left: 1rem; }
        .sidebar .nav .nav-item.active > .nav-link {
          background:#198754;
          position: relative; }
          .sidebar .nav .nav-item.active > .nav-link:before {
            content: "";
            width: 3px;
            height: 100%;
            background:#a7afb7;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0; }
          .sidebar .nav .nav-item.active > .nav-link .menu-title {
            color: #ffffff; }
          .sidebar .nav .nav-item.active > .nav-link i {
            color: #ffffff; }
        .sidebar .nav .nav-item.nav-profile .nav-link {
          height: auto;
          line-height: 1;
          border-top: 0;
          padding: 1.25rem 0; }
          .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
            width: 44px;
            height: 44px; }
            .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
              width: 44px;
              height: 44px;
              border-radius: 100%; }
          .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
            margin-left: 1rem; }
            .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
              margin-left: auto;
              margin-right: 1rem; }
          .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
            font-size: 1.125rem;
            margin-left: auto; }
            .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
              margin-left: 0;
              margin-right: auto; }
        .sidebar .nav .nav-item.sidebar-actions {
          margin-top: 1rem; }
          .sidebar .nav .nav-item.sidebar-actions .nav-link {
            border-top: 0;
            display: block;
            height: auto; }
          .sidebar .nav .nav-item.sidebar-actions:hover {
            background: initial; }
            .sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
              color: initial; }
        .sidebar .nav .nav-item.profile {
          padding-right: 0px; }
          .rtl .sidebar .nav .nav-item.profile {
            padding-right: 10px; }
          .sidebar .nav .nav-item.profile .profile-desc {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0.6rem 1.17rem;
            line-height: 1.25; }
            .sidebar .nav .nav-item.profile .profile-desc .profile-name {
              margin-left: 1rem; }
              .rtl .sidebar .nav .nav-item.profile .profile-desc .profile-name {
                margin-left: 0;
                margin-right: 1rem; }
              .sidebar .nav .nav-item.profile .profile-desc .profile-name span {
                font-size: 12px;
                color: #6c7293;
                white-space: nowrap; }
              .sidebar .nav .nav-item.profile .profile-desc .profile-name h5 {
                white-space: nowrap; }
            .sidebar .nav .nav-item.profile .profile-desc .profile-pic {
              display: flex;
              align-items: center; }
              .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator {
                position: relative; }
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol,
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
                  position: absolute;
                  border-radius: 100%;
                  border: 2px solid #191c24; }
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol {
                  top: 17px;
                  right: -3px;
                  width: 10px;
                  height: 10px; }
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
                  min-width: 14px;
                  height: 14px;
                  font-size: .5rem;
                  color: #ffffff;
                  bottom: 16px;
                  right: -5px;
                  line-height: 1;
                  text-align: center; }
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator:after {
                  display: none; }
                .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count {
                  position: absolute;
                  left: 66%;
                  width: 10px;
                  height: 10px;
                  color: #ffffff;
                  border-radius: 100%;
                  text-align: center;
                  font-size: .625rem;
                  line-height: 1.5;
                  top: 26px;
                  border: 2px solid #2c2e33; }
            .sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
              font-size: 20px;
              color: #6c7293; }
            .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu {
              padding: 0;
              margin-top: 1.25rem; }
              .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item {
                padding: 11px 13px; }
                .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item {
                  align-items: center; }
                  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon {
                    width: 30px;
                    height: 30px; }
                    .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon i {
                      font-size: 0.875rem; }
                .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item:hover {
                  color: inherit; }
              .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-divider {
                margin: 0; }
        .sidebar .nav .nav-item.nav-category {
          padding: 0.5rem 1.188rem;
          line-height: 1; }
          .sidebar .nav .nav-item.nav-category .nav-link {
            color: #6c7293;
            font-weight: 500;
            font-size: 14px;
            font-weight: 500;
            height: auto;
            padding-left: 0; }
        .sidebar .nav .nav-item .menu-icon {
          margin-right: 0.5rem;
          font-size: 0.8125rem;
          line-height: 1;
          background: rgba(108, 114, 147, 0.2);
          width: 31px;
          height: 31px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff; }
          .sidebar .nav .nav-item .menu-icon i {
            font-size: 0.875rem; }
      .sidebar .nav.sub-menu {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0 0 0 3.25rem;
        list-style: none; }
        .sidebar .nav.sub-menu .nav-item {
          padding: 0; }
          .sidebar .nav.sub-menu .nav-item .nav-link {
            color: #6c7293;
            padding: 0.5rem 0.35rem;
            position: relative;
            font-size: 0.855rem;
            line-height: 1;
            height: auto;
            border-top: 0; }
            .sidebar .nav.sub-menu .nav-item .nav-link.active {
              color: #ffffff;
              background: transparent; }
            .sidebar .nav.sub-menu .nav-item .nav-link:hover {
              color: #ffffff; }
          .sidebar .nav.sub-menu .nav-item:hover {
            background: transparent; }
      .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
        background: whitesmoke;
        color:#191c24; }
      .sidebar .nav .menu-items:nth-child(5n+1) .nav-link .menu-icon i {
        color: #0090e7; }
      .sidebar .nav .menu-items:nth-child(5n+2) .nav-link .menu-icon i {
        color: #00d25b; }
      .sidebar .nav .menu-items:nth-child(5n+3) .nav-link .menu-icon i {
        color: #8f5fe8; }
      .sidebar .nav .menu-items:nth-child(5n+4) .nav-link .menu-icon i {
        color: #ffab00; }
      .sidebar .nav .menu-items:nth-child(5n+5) .nav-link .menu-icon i {
        color: #fc424a; }
      
  
  /* style for off-canvas menu*/
  @media screen and (max-width: 991px) {
    .sidebar-offcanvas {
      position: fixed;
      max-height: calc(100vh - 70px);
      top: 70px;
      bottom: 0;
      overflow: auto;
      left: -244px;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .sidebar-offcanvas.active {
        left: 0; } }
  
  .sidebar-tinted .sidebar {
    background: #fa424a; }
    .sidebar-tinted .sidebar .sidebar-brand-wrapper {
      background: #fa424a; }
    .sidebar-tinted .sidebar .nav .nav-item .nav-link {
      color: #ffffff; }
      .sidebar-tinted .sidebar .nav .nav-item .nav-link .menu-icon i {
        color: white; }
      .sidebar-tinted .sidebar .nav .nav-item .nav-link i.menu-arrow {
        color: rgba(255, 255, 255, 0.36); }
    .sidebar-tinted .sidebar .nav .nav-item.active > .nav-link {
      background: rgba(12, 14, 14, 0.1); }
    .sidebar-tinted .sidebar .nav .nav-item.active:before {
      background: #ffffff; }
    .sidebar-tinted .sidebar .nav .nav-item.profile .profile-desc .profile-name span {
      color: #ffffff; }
    .sidebar-tinted .sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
      color: #ffffff; }
    .sidebar-tinted .sidebar .nav .nav-item.profile .profile-pic .count-indicator .count {
      border: 2px solid #fa424a; }
    .sidebar-tinted .sidebar .nav.sub-menu .nav-item .nav-link:hover {
      font-weight: 500; }
    .sidebar-tinted .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
      background: rgba(12, 14, 14, 0.1); }
  
  /* Layouts */
  .navbar.fixed-top + .page-body-wrapper {
    padding-top: 70px; }
  
  @media (min-width: 992px) {
    .sidebar-icon-only .navbar {
      left: 70px; }
      .sidebar-icon-only .navbar .navbar-menu-wrapper {
        width: 100%; }
    .sidebar-icon-only .sidebar {
      width: 70px; }
      .sidebar-icon-only .sidebar .sidebar-brand-wrapper {
        width: 70px; }
        .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo {
          display: none; }
        .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo-mini {
          display: inline-block; }
      .sidebar-icon-only .sidebar .nav {
        overflow: visible; }
        .sidebar-icon-only .sidebar .nav .nav-item {
          position: relative;
          padding: 0; }
          .sidebar-icon-only .sidebar .nav .nav-item .profile-name {
            display: none; }
            .sidebar-icon-only .sidebar .nav .btn {
              display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .mdi-dots-vertical {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item.account-dropdown {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
            text-align: center; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge, .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
              display: none; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
              border-radius: 0 5px 5px 0px; }
              .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
                border-radius: 5px 0 0 5px; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
              margin-right: 0;
              margin-left: 0; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
              display: none; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
              border-radius: 0 5px 0 0px; }
              .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
                border-radius: 5px 0 0 0; }
          .sidebar-icon-only .sidebar .nav .nav-item.nav-profile {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item.nav-category {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item.nav-doc {
            margin: 0; }
            .sidebar-icon-only .sidebar .nav .nav-item.nav-doc i {
              display: block; }
          .sidebar-icon-only .sidebar .nav .nav-item .collapse {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            background: #0f1015;
            padding: 0.5rem 1.4rem;
            left: 70px;
            position: absolute;
            text-align: left;
            top: 0;
            bottom: 0;
            width: 190px;
            z-index: 1;
            line-height: 1.8; }
            .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
              background: #0f1015; }
            .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
              left: auto;
              right: 70px;
              text-align: left; }
            .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
              display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
          .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            display: block;
            padding: .5rem 0;
            background: #0f1015;
            border-radius: 0 0 5px 0;
            position: absolute;
            left: 70px;
            width: 190px; }
            .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
              background: #191c24; }
            .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
              left: auto;
              right: 70px;
              border-radius: 0 0 0 5px; }
        .sidebar-icon-only .sidebar .nav.sub-menu {
          padding: 0 0 0 1.5rem; }
          .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
            text-align: left;
            padding-left: 20px; }
            .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
              content: "";
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #6c7293;
              position: absolute;
              left: 0; }
            .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover:before {
              background-color: white; }
          .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
            margin-left: 0; }
            .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
              text-align: right; }
              .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
                left: 0;
                right: unset; }
      .sidebar-icon-only .sidebar .sidebar-actions {
        display: none; }
    .sidebar-icon-only.rtl .sidebar .nav .nav-item.profile {
      padding-right: 0; }
    .sidebar-icon-only .page-body-wrapper {
      width: calc(100% - 70px);
      transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease; } }
  
  .page-body-wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.25s ease;
    width: calc(100% - 244px); }
    .page-body-wrapper.full-page-wrapper {
      width: 100%;
      min-height: 100vh; }
    @media (max-width: 992px) {
      .page-body-wrapper {
        width: 100%; } }
  
  .container-scroller {
    display: flex;
    position: relative; }
  
  .main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 991px) {
      .main-panel {
        margin-left: 0;
        width: 100%; } }
  
  .content-wrapper {
    background: whitesmoke;
    padding: 1.875rem 1.75rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
  
  /*# sourceMappingURL=maps/style.css.map */
  
  